<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Chat Application Using Socket.io</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="#">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

    <div id="app">

        <div class="container">
            <div class="col-md-6 offset-md-3">
                <h3>Welcome To Socket World</h3>

                <div v-if="trial">

                    <div v-if="ready">
                        <p v-for="item in info">
                            {{ item.name }} {{ item.type }}
                        </p>
                    </div>


                    <div v-if="!ready">
                        <form @submit.prevent="AddUser">
                            <div class="form-group row">
                                <input type="text" class="form-control col-9" v-model="name" placeholder="Enter Your Name">
                                <input type="submit" value="Add" class="btn btn-sm btn-primary ml-1">
                            </div>
                        </form>
                    </div>

                    <h3 v-else>{{name}}</h3>

                    <div class="card bg-primary" v-if="ready">
                        <div class="card-header">
                            <b>Chat App</b>
                            <span class="float-right">{{ connections }} connected</span>
                        </div>
                        <ul class="list-group list-group-flush text-right">
                            <small v-if="typing" class="text-white">{{typing}} is typing</small>
                            <li class="list-group-item" v-for="message in messages">
                                <span :class="{'float-left':message.type === 0}"> 
                                    {{message.message}}
                                    <small>:{{ message.by }}</small>
                                </span>
                            </li>
                        </ul>
                        <div class="card-body">
                            <form @submit.prevent="send">
                                <div class="form-group">
                                    <input type="text" class="form-control" v-model="newmessage" placeholder="Type Here">
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

                <div v-else>
                    <div class="jumbotron">
                        <h1 class="display-4">Hello, {{ name }}</h1>
                        <hr class="my-4">
                        <p>Your Free Trail Has Been Over For More Send OR Recieved Messages You Have To Take MemberShip</p>
                        <p class="lead">
                            <a class="btn btn-danger btn-lg" href="#" role="button">Learn more</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js" integrity="sha256-ngFW3UnAN0Tnm76mDuu7uUtYEcG3G5H1+zioJw3t+68=" crossorigin="anonymous"></script>
    <script>
        var socket = io();
        let app = new Vue({
            el: '#app',
            data: {
                newmessage: null,
                messages: [],
                typing: false,
                name: null,
                ready: false,
                info: [],
                connections: 0,
                trial: true,
                count: 100
            },
            created() {
                //event 
                window.onbeforeunload = () => {
                    socket.emit('leaved', this.name)
                }

                socket.on('connections', (data) => {
                    this.connections = data;
                })

                //listener
                socket.emit('Created', 'Client-To-Server');
                socket.on('Created', (data) => {
                    console.log(data, 'client');
                })
                socket.on('chat-message', (data) => {
                    this.messages.push({
                        message: data.message,
                        type: 1,
                        by: data.user,
                        count: data.countMsg
                    });
                })

                socket.on('typing', (name) => {
                    this.typing = name
                })

                socket.on('stopTyping', () => {
                    this.typing = false
                })

                socket.on('joined', (data) => {
                    this.info.push({
                        name: data,
                        type: 'Joined'
                    });

                    setTimeout(() => {
                        this.info = []
                    }, 5000);

                })

                socket.on('leaved', (data) => {
                    this.info.push({
                        name: data,
                        type: 'Leaved'
                    });

                    setTimeout(() => {
                        this.info = []
                    }, 5000);
                })

            },
            watch: {
                newmessage(value) {
                    value ? socket.emit('typing', this.name) : socket.emit('stopTyping')
                }
            },
            methods: {
                send() {
                    this.messages.push({
                        message: this.newmessage,
                        type: 0,
                        by: 'Me',
                    });
                    socket.emit('chat-message', {
                        message: this.newmessage,
                        user: this.name,
                    })
                    console.log(this.messages);

                    let a = this.messages.filter(function(x) {
                        return x.by == "Me";
                    })

                    console.log(a);

                    if (a.length > this.count) {
                        this.trial = false;
                    }

                    this.newmessage = null;
                },
                AddUser() {
                    this.ready = true;
                    socket.emit('joined', this.name)
                }
            }
        })
    </script>
</body>

</html>