<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Chat Application Using Socket.io</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="#">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

    <div id="app">

        <div class="container">
            <div class="col-md-6 offset-md-3">
                <h3>Welcome To Socket World</h3>
                <div class="card bg-primary">
                    <div class="card-header">
                        <b>Chat App</b>
                    </div>
                    <ul class="list-group list-group-flush text-right">
                        <small v-if="typing" class="text-white">User is typing</small>
                        <li class="list-group-item" v-for="message in messages">

                            <span :class="{'float-left':message.type === 0}"> {{message.message}}</span>

                        </li>
                    </ul>
                    <div class="card-body">
                        <form @submit.prevent="send">
                            <div class="form-group">
                                <input type="text" class="form-control" v-model="newmessage" placeholder="Type Here">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js" integrity="sha256-ngFW3UnAN0Tnm76mDuu7uUtYEcG3G5H1+zioJw3t+68=" crossorigin="anonymous"></script>
    <script>
        var socket = io();
        let app = new Vue({
            el: '#app',
            data: {
                newmessage: null,
                messages: [],
                typing: false
            },
            created() {
                socket.emit('Created', 'Client-To-Server');
                socket.on('Created', (data) => {
                    console.log(data, 'client');
                })
                socket.on('chat-message', (data) => {
                    this.messages.push({
                        message: data,
                        type: 1
                    });
                })

                socket.on('typing', () => {
                    this.typing = true
                })

                socket.on('stopTyping', () => {
                    this.typing = false
                })

            },
            watch: {
                newmessage(value) {
                    value ? socket.emit('typing') : socket.emit('stopTyping')
                }
            },
            methods: {
                send() {
                    //type 0 : send
                    this.messages.push({
                        message: this.newmessage,
                        type: 0
                    });
                    console.log(this.messages, this.newmessage);

                    socket.emit('chat-message', this.newmessage)
                    this.newmessage = null;
                },
            }
        })
    </script>
</body>

</html>